* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    text-decoration: none;
}

.container {
    max-width: 984px;
    margin: 0 auto;
}
.header {
    max-width: 984px;
    margin: 0 auto;
    padding: 20px 0 10px;
    display: flex;
    border-bottom: 1px solid #000;
}
.header__title {
    max-width: 0px;
    font-size: 20px;
    text-transform: uppercase;
    color: darkgray;
}
.header__subtitle {
    max-width: 600px;
    margin: auto;
    font-size: 30px;
}
.book {
    padding-top: 40px;
}
.book__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.book__number div {
    display: flex;
    align-items: center;
}
.book__name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.book__string {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.book__auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.book__auth div {
    display: flex;
    align-items: center;
}
.book__review {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
}
.book__col-0 {
    width: 145px;
    padding: 5px 30px 5px 2px;
    border: 1px solid #000;
    background: #eee;
    font-size: 19px;
}
.book__col-1 {
    width: 120px;
}
.book__col-2 {
    width: 870px;
    padding: 5px 30px 5px 2px;
    border: 1px solid #000;
    background: #eee;
    font-size: 19px;

}
.book__col-3 {
    width: 140px;
    padding: 5px 10px 5px 2px;
    border: 1px solid #000;
    background: #eee;
    margin-right: 10px;
    font-size: 19px;
}
.book__col-3_transparent {
    color: transparent;
}
.checkbox {
    height: 17px;
    background: #eee;
    border: 1px solid #000;
}

.book__part {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
}
.book__number2 {
    display: flex;
    align-items: baseline;
    padding-top: 50px;
}
.book__part-2 {
    width: 870px;
    padding: 5px 30px 5px 2px;
}
.book__indent {
    text-indent: 25px;;
}
.book__part-2_padding {
    padding: 5px 96px 5px 2px;
    font-size: 24px;
}
.book__part-2_size {
    font-size: 23px;
}
.book__part-2 > i {
    padding: 5px 5px 5px 2px;
    text-align: justify;
    font-size: 21px;
    display: flex;
    width: 855px;
}
.book__category {
    display: flex;
    align-items: baseline;
    padding-top: 35px;
}
.book__col-1_size {
    font-size: 20px;
}
.btn {
    width: 300px;
    border: none;
    padding: 15px 0;
    float: right;
    background: #0082AA;
    color: #fff;
    border-radius: 20px;
    font-size: 40px;
    margin: 60px 25px;
}